@import "../../../styles/settings/colors";

.breadcrumb {
  padding: 16px 0;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  &__item {
    list-style-type: none;
  }
  &__text {
    margin: 0;
    font-size: 12px;
    color: $meli-gray;
    text-decoration: none;
    white-space: nowrap;
  }
  li+li:before {
    font-size: 12px;
    padding: 0 4px;
    color: $meli-gray;
    content: '>';
  }
}
