$font-size-h1: 30px;
$font-size-h2: 20px;
$font-size-h3: 18px;
$font-size-h4: 14px;
$font-size-h5: 12px;

$font-size-h1-mobile: 24px;
$font-size-h2-mobile: 16px;
$font-size-h3-mobile: 14px;
$font-size-h4-mobile: 12px;
$font-size-h5-mobile: 10px;

$meli-breakpoints: (
  sm: 0,
  md: 500px,
  lg: 768px,
  xl: 1024px,
);
